<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="algolia_after_create_configuration">
        <observer name="customalgolia_frontend_configuration" instance="Algolia\CustomAlgolia\Observer\UpdateFrontendConfiguration" />
    </event>
    <event name="algolia_products_index_before_set_settings">
        <observer name="customalgolia_products_settings" instance="Algolia\CustomAlgolia\Observer\UpdateProductsSettings" />
    </event>
    <event name="algolia_after_create_product_object">
        <observer name="customalgolia_product_object" instance="Algolia\CustomAlgolia\Observer\UpdateProductData" />
    </event>
</config>
